<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <!-- 콘솔에 로그를 출력하기 위한 Appender 설정 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%highlight(%-5level)] [%cyan(%logger{36}.%method:line%line)] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 파일에 로그를 출력하고 하루 단위로 롤링하기 위한 Appender 설정 -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/tutorial-sejong-log.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%logger{36}.%method:line%line] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/tutorial-sejong-log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>50</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!-- 특정 패키지 로거 설정 -->
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

</configuration>
