<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <!-- 로그 파일 경로를 스프링 프로퍼티에서 가져오기 -->
    <!--<property name="LOG_FILE" value="${logging.file.path}" />-->

    <!-- 콘솔에 로그를 출력하기 위한 Appender 설정 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%highlight(%-5level)] [%cyan(%logger{36}.%method:%line)] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 프로파일별 로그 설정 -->
    <springProfile name="dev">
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/tutorial-sejong-log.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%logger{36}.%method:%line] - %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 백업될 로그 파일의 이름 패턴 -->
                <fileNamePattern>logs/backup/tutorial-sejong-log-%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 보관할 최대 파일 수 -->
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>
    </springProfile>

    <springProfile name="prod">
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/home/anhye0n/web/tutorial_sejong/backend/logs/tutorial-sejong-log.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%logger{36}.%method:%line] - %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 백업될 로그 파일의 이름 패턴 -->
                <fileNamePattern>/home/anhye0n/web/tutorial_sejong/backend/logs/backup/tutorial-sejong-log-%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 보관할 최대 파일 수 -->
                <maxHistory>50</maxHistory>
            </rollingPolicy>
        </appender>
    </springProfile>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!-- 특정 패키지 로거 설정 -->
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
</configuration>
